<div *ngIf="messageService.getMessages().length">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Messages
        </mat-panel-title>
        <mat-panel-description>
         {{messageService.getMessages().length}} records
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let message of messageService.getMessages()">
        {{message}}
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <br />
  <button (click)="messageService.clear()" color="warn" mat-raised-button>Clear Messages</button>
  <hr />
</div>
