
  <mat-accordion *ngIf="messageService.getMessages().length">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Messages
        </mat-panel-title>
        <mat-panel-description>
         {{messageService.getMessages().length}} records
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p><button (click)="messageService.clear()" color="warn" mat-raised-button>Clear Messages</button></p>
      <mat-list>
        <mat-list-item *ngFor="let message of messageService.getMessages()">
          {{message}}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

  </mat-accordion>
